@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

html {
  font-family: 'Maven Pro', sans-serif;
  background-color: #FFFFFF!important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
   flex: 1 0 auto;
 }

 .page-footer{
   padding-top: 0px !important;
   background-color:#FFFFFF !important;
 }

 .page-footer .footer-copyright{
   font-size: 1.2em;
   background-color: #F0F0F0!important;
   color: #000000 !important;
 }

 .page-footer .footer-copyright .container{
   background-color: #F0F0F0!important;
 }