@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma&display=swap');

html {
  font-family: 'Maven Pro', sans-serif;
  background-color: #FFFFFF!important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
   flex: 1 0 auto;
 }

 .page-footer{
   padding-top: 0px !important;
   background-color:#FFFFFF !important;
 }

 .page-footer .footer-copyright{
   font-size: 1.2em;
   background-color: rgb(0, 0, 0) !important;
   color: #AEEA00 !important;
 }

 .page-footer .footer-copyright .container{
   background-color: rgb(0, 0, 0);
 }

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

nav{
  position: fixed !important;
  top: 0;
  z-index: 5;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 128px;
  }
  .stuff{
    margin-top: 2em;
  }
  .stuff2{
    margin-top: 0.5em;
    height: 5em !important;
  }
  nav ul a:hover{
    font-size: 2em;
  }
  nav ul a#no:hover{
    font-size: 1em;
  }
  .bingo{
    font-size: 2em;
  }
}

.parallax-container{
  min-height: 720px !important;
  margin-top: -1.3em !important;
}

.inlined{
  display: inline;
}

a .active{
  border-bottom: 5px solid #000000;
}

.card-panel{
  padding: 10px;
}

.input-field label{
  color: #4A4A4A;
}

.input-field label .active{
  color: #26A69A;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(38, 166, 154, 0.6); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(38, 166, 154, 1); 
}

#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8, #s9, #s10{
  background-color: rgba(0, 0, 0, 0.9);
}

h1{
  color: #AEEA00;
}

p{
  color: #00FFFF;
}

.grey.lighten-5 {
  background-color: rgb(40, 40, 40) !important;
}

.card-panel b{
  color: #AEEA00;
}

.progress{
  background-color: #000000;
}

.progress .indeterminate{
  background-color: #AEEA00;
}

.selected{
  background-color: #AEEA00;
  color: #000000 !important;
}

.input-field label{
  color: #AEEA00 !important;
}

.input-field .helper-text{
  color: #AEEA00;
}

input{
  color: #AEEA00;
}